.form {
    padding: 2px;
}

.form__label {
    display: grid;
    grid-template-columns: 130px 200px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
}

@media (max-width:767px) {
    .form__label {
        grid-template-columns: 1fr auto;
        gap: 10px;
    }
}

.form__field {
    border: none;
    padding: 3px 0 3px 10px;
}

.form__button {
    width: 350px;
    background-color: hsl(39, 100%, 50%);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 2s;
}

@media (max-width:767px) {
    .form__button {
        max-width: 70%;
        margin-left: 50px;
    }
}

.form__button:hover {
    scale: 1.15;
}